<html>
    <head>
        <title>Scratchboard page</title>
    </head>

    <body>
        <div>Dummy first comment.</div>

        <div>
            Second dummy comment. Hopefully more interesting than the first.
        </div>

        <div>
            Third dummy comment. Hopefully exciting!.
        </div>

        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>
    </body>
</html>